.landing {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    .hero-section {
        height: 100vh;
        background-image: url('/assets/images/backgrounds/Bg_Header.png');
        @media screen and (max-width: 478px) {
            height: 70vh;
        }
        .hero {
            width: 100%;
            position: relative;
            @media screen and (max-width: 478px) {
                height: 100%;
            }
            @media screen and (min-width: 1023px) {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .title {
                position: absolute;
                top: 200px;
                left: 10%;
                background-color: #ffffff9e;
                z-index: 2;
                padding: 0px 20px;
                @media screen and (max-width: 478px) {
                    top: 50%;
                    transform: translateY(-50%);
                    padding-left: 30px;
                }
                @media screen and (min-width: 1023px) {
                    position: initial;
                    background-color: transparent;
                    flex-grow: 1;
                }
            }
            img {
                transform: rotateY(180deg);
                width: 350px;
                z-index: 1;
                position: absolute;
                padding: 100px 50px;
                right: 10%;
                @media screen and (max-width: 478px) {
                    width: 250px;
                    right: 50%;
                    transform: translateX(50%);
                    bottom: 5%;
                    padding: 0;
                }
                @media screen and (min-width: 1023px) {
                    width: 400px;
                    padding: 0 100px;
                    position: initial;
                }
            }
        }
    }
    .follow-section {
        .section-content {
            background-color: var(--light-gray);
            @media screen and (min-width: 660px) {
                display: flex;
            }
        }
        .image-container {
            @media screen and (min-width: 660px) {
                width: 55%;
            }
            position: relative;
            img {
                width: 100%;
            }
            h1 {
                margin: 0;
                position: absolute;
                top: 50%;
                width: 100%;
                transform: translateY(calc(-50% - 49px));
                text-align: center;
            }
            .twitter {
                position: absolute;
                bottom: 10%;
                left: 50%;
                transform: translate(-50%, -50%);
                #twitter-logo{
                    height: 30px;
                    @media screen and (min-width: 1023px) {
                        height: 60px;
                    }
                }
                .name {
                    display: flex; 
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        .title {
            flex-grow: 1;
            text-align: center;
        }
        @media screen and (max-width: 1023px) {
            h1 {
                font-size: 1.8rem; 
            }
        }
        @media screen and (max-width: 660px) {
            h1 {
                padding-top: 50px;
                padding-bottom: 50px;
            }
        }
        @media screen and (max-width: 478px) {
            h1 {
                font-size: 1.2rem; 
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }
        
    }
    .benefits-section {
        .benefits {
            margin-top: 50px;
            width: 100%;
            text-align: center;
            padding-bottom: 30px;
            box-shadow: 0px 4px 2px -2px #dadada;
        }
        .items {
            display: flex;
            margin-top: 60px;
            @media screen and (max-width: 1023px) {
                flex-wrap: wrap;
                justify-content: space-evenly;
                padding: 0 30px;
            }
            .item {
                flex-grow: 1;
                img {
                    height: 60px;
                    width: 60px;
                    @media screen and (min-width: 1023px) {
                        height: 80px;
                        width: 80px;
                    }
                }
                p {
                    font-size: small;
                    width: 140px;
                    margin: 10px auto;
                    @media screen and (min-width: 1023px) {
                        width: 150px;
                        font-size: initial;             
                    }
                }
            }
        }
        @media screen and (max-width: 1023px) {
            h2 {
                font-size: 1.5rem; 
            }
        }
        @media screen and (max-width: 478px) {
            h2 {
                font-size: 1rem;
                padding: 0 10px; 
            }
        }
    }
    app-footer {
        h1 {
            margin-bottom: 10px;
            @media screen and (max-width: 1023px) {
                font-size: 1.8rem; 
            }
            @media screen and (max-width: 478px) {
                font-size: 1.2rem;
            }
        }
        h2 {
            margin-top: 0;
            @media screen and (max-width: 1023px) {
                font-size: 1.5rem; 
            }
            @media screen and (max-width: 478px) {
                font-size: 1rem;
            }
        }
        .btn-container {
            margin: 40px auto 90px;
        }
    }
}
