/* Fira Sans */
@font-face {
    font-family: "Fira Sans Black";
    src: url("assets/fonts/Fira_Sans/FiraSans-BlackItalic.ttf") format("truetype");
    font-style: italic, oblique;
}
@font-face {
    font-family: "Fira Sans Black";
    src: url("assets/fonts/Fira_Sans/FiraSans-Black.ttf") format("truetype");
}
@font-face {
    font-family: "Fira Sans Bold";
    src: url("assets/fonts/Fira_Sans/FiraSans-BoldItalic.ttf") format("truetype");
    font-style: italic, oblique;
}
@font-face {
    font-family: "Fira Sans Bold";
    src: url("assets/fonts/Fira_Sans/FiraSans-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Fira Sans ExtraBold";
    src: url("assets/fonts/Fira_Sans/FiraSans-ExtraBoldItalic.ttf") format("truetype");
    font-style: italic, oblique;
}
@font-face {
    font-family: "Fira Sans ExtraBold";
    src: url("assets/fonts/Fira_Sans/FiraSans-ExtraBold.ttf") format("truetype");
}
@font-face {
    font-family: "Fira Sans ExtraLight";
    src: url("assets/fonts/Fira_Sans/FiraSans-ExtraLightItalic.ttf") format("truetype");
    font-style: italic, oblique;
}
@font-face {
    font-family: "Fira Sans ExtraLight";
    src: url("assets/fonts/Fira_Sans/FiraSans-ExtraLight.ttf") format("truetype");
}
@font-face {
    font-family: "Fira Sans Italic";
    src: url("assets/fonts/Fira_Sans/FiraSans-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "Fira Sans Light";
    src: url("assets/fonts/Fira_Sans/FiraSans-LightItalic.ttf") format("truetype");
    font-style: italic, oblique;
}
@font-face {
    font-family: "Fira Sans Light";
    src: url("assets/fonts/Fira_Sans/FiraSans-Light.ttf") format("truetype");
}
@font-face {
    font-family: "Fira Sans Medium";
    src: url("assets/fonts/Fira_Sans/FiraSans-MediumItalic.ttf") format("truetype");
    font-style: italic, oblique;
}
@font-face {
    font-family: "Fira Sans Medium";
    src: url("assets/fonts/Fira_Sans/FiraSans-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Fira Sans Regular";
    src: url("assets/fonts/Fira_Sans/FiraSans-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Fira Sans SemiBold";
    src: url("assets/fonts/Fira_Sans/FiraSans-SemiBoldItalic.ttf") format("truetype");
    font-style: italic, oblique;
}
@font-face {
    font-family: "Fira Sans SemiBold";
    src: url("assets/fonts/Fira_Sans/FiraSans-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: "Fira Sans Thin";
    src: url("assets/fonts/Fira_Sans/FiraSans-ThinItalic.ttf") format("truetype");
    font-style: italic, oblique;
}
@font-face {
    font-family: "Fira Sans Thin";
    src: url("assets/fonts/Fira_Sans/FiraSans-Thin.ttf") format("truetype");
}
/* Montserrat */
@font-face {
    font-family: "Montserrat Black";
    src: url("assets/fonts/Montserrat/Montserrat-BlackItalic.ttf") format("truetype");
    font-style: italic, oblique;
}
@font-face {
    font-family: "Montserrat Black";
    src: url("assets/fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat Bold";
    src: url("assets/fonts/Montserrat/Montserrat-BoldItalic.ttf") format("truetype");
    font-style: italic, oblique;
}
@font-face {
    font-family: "Montserrat Bold";
    src: url("assets/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat ExtraBold";
    src: url("assets/fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf") format("truetype");
    font-style: italic, oblique;
}
@font-face {
    font-family: "Montserrat ExtraBold";
    src: url("assets/fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat ExtraLight";
    src: url("assets/fonts/Montserrat/Montserrat-ExtraLightItalic.ttf") format("truetype");
    font-style: italic, oblique;
}
@font-face {
    font-family: "Montserrat ExtraLight";
    src: url("assets/fonts/Montserrat/Montserrat-ExtraLight.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat Italic";
    src: url("assets/fonts/Montserrat/Montserrat-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat Light";
    src: url("assets/fonts/Montserrat/Montserrat-LightItalic.ttf") format("truetype");
    font-style: italic, oblique;
}
@font-face {
    font-family: "Montserrat Light";
    src: url("assets/fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat Medium";
    src: url("assets/fonts/Montserrat/Montserrat-MediumItalic.ttf") format("truetype");
    font-style: italic, oblique;
}
@font-face {
    font-family: "Montserrat Medium";
    src: url("assets/fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat Regular";
    src: url("assets/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat SemiBold";
    src: url("assets/fonts/Montserrat/Montserrat-SemiBoldItalic.ttf") format("truetype");
    font-style: italic, oblique;
}
@font-face {
    font-family: "Montserrat SemiBold";
    src: url("assets/fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat Thin";
    src: url("assets/fonts/Montserrat/Montserrat-ThinItalic.ttf") format("truetype");
    font-style: italic, oblique;
}
@font-face {
    font-family: "Montserrat Thin";
    src: url("assets/fonts/Montserrat/Montserrat-Thin.ttf") format("truetype");
}