@import './fonts.scss';

:root {
  --brand-blue: #2AA7DF;
  --brand-green: #A3CC39;
  --light-green: #97CF00;
  --light-gray: #F2F5FA;
  --medium-gray: #989ca3;
  --max-content-width: 1280px;
  --section-padding: 100px;
}

section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.section-content {
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
  @media screen and (min-width: 1023px) {
    display: flex;
    max-width: var(--max-content-width);
    padding: 0 var(--section-padding);
    max-width: var(--max-content-width);
    padding: 0 var(--section-padding);
  }
}
.section-content.no-padding {
  width: 100%;
  padding: 0;
  @media screen and (min-width: 1023px) {
    max-width: 1480px;
  }
}
.navbar {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  box-shadow: none;
  transition: box-shadow 0.3s ease-in-out;
}
.navbar-shadow {
  background-color: #fffffff5;
  box-shadow: 0px 1px 12px 0px #d0d0d0;
  transition: box-shadow 0.3s ease-in-out;
}
.navbar-content {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: transparent;
  color: black;
  font-family: "Montserrat Medium";
}
.nav-option {
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.arrow-btn {
  width: 40px;
  height: 40px;
  position: relative;
  @media screen and (min-width: 768px) {
    display: none;
  }
  .arrow {
    height: 10px;
    width: 10px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%) rotate(-45deg);
  }
  .arrow.up {
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: initial;
    border-left: initial;
    transform: translate(-50%,-25%) rotate(-45deg);
  }
}
.dropdown-menu {
  z-index: 5;
  width: 150px;
  background-color: white;
  position: fixed;
  right: 10px;
  top: 40px;
  display: none;
  flex-direction: column;
  box-shadow: 0px 1px 12px 0px #d0d0d0;
  overflow: hidden;
  visibility: none;
  .menu-option {
    width: 100%;
    padding: 10px;
    color: black;
    font-style: normal;
    margin-right: 50px;
    text-decoration: none;
    border-bottom: 1px solid #e5e3e3;
  }
  .menu-option:hover {
    background-color: #e5e3e3;
    color: var(--brand-blue);
  }
}
.dropdown-menu.open {
  display: flex;
  @media screen and (min-width: 768px) {
    display: none;
  }

}
.logo {
  width: 100px;
  margin-left: 10px;
  @media screen and (min-width: 768px) {
    width: 150px;
    margin-left: 20px;
  }
  @media screen and (min-width: 1023px) {
    width: 180px;
  }
}
.spacer {
  flex: 1;
}
.navbar a {
  color: black;
  font-style: normal;
  margin-right: 50px;
  text-decoration: none;
}
.navbar a:hover {
  color: var(--brand-blue);
}
.btn {
  padding: 8px 60px;
  border-radius: 40px;
  background-color: var(--brand-blue);
  color: white;
  font-family: "Montserrat Bold";
  border: none;
}
.btn:hover:not([disabled]) {
  background-color: #2a88df;
}
.btn-outline {
  border: 1px solid var(--brand-blue);
  background-color: white;
  color: var(--brand-blue);
}
.btn-outline:hover {
  border: 1px solid var(--brand-blue);
  background-color: var(--brand-blue);
  color: white;
}
.btn-outline-transparent {
  border: 1px solid var(--brand-blue);
  background-color: transparent;
}
.btn-big {
  @media screen and (min-width: 1023px) {
    font-size: larger;
    padding: 10px 70px;
  }
}
button:disabled {
  color:#999999;
  background-color: #989ca35e;
  border-color: #989ca35e;
}
h1 {
  font-family: "Montserrat Medium";
  font-weight: normal;
  font-size: 2.5rem;
}
h2 {
  font-family: "Montserrat Medium";
  font-weight: normal;
  font-size: 1.8rem;
}
.text-bold {
  font-family: "Montserrat Bold";
}
.text-primary {
  color: var(--brand-blue);
}
.text-secondary {
  color: var(--light-green);

}
footer {
  margin-top: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
}
.col-6 {
  grid-column: span 6;
}
.col-12 {
  grid-column: span 12;
}
.form {
  .input-group {
      display: inline-grid;
      padding: 8px 5px;
  }
}
input {
  padding: 8px;
  font-family: 'Montserrat Medium';
  font-size: 0.9rem;
  border-radius: 5px;
  border: 1px solid var(--medium-gray);
}
input:focus-visible {
  border: 2px solid var(--brand-blue);
  outline: none;
}
.checkbox {
  padding: 15px 5px;
  input {
    margin-right: 8px;
  }
}
/* Responsive Styles */
@media screen and (max-width: 1023px) {
  .btn-big {
    font-size: medium;
    padding: 8px 60px;
  }
}


@media screen and (max-width: 767px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 575px) {
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 478px) {
  h1 {
    font-size: 1.2rem;
  }
  .btn-big {
    font-size: small;
    padding: 8px 40px;
  }
  .col-sm-12 {
    grid-column: span 12 !important;
  }
}